includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
parameters:
	ignoreErrors:
		- '#App\\RequestHandlerSwooleRunner::__construct\(\) does not call parent constructor from Zend\\HttpHandlerRunner\\RequestHandlerRunner#'
