<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'app_secret' => 'put your secret here',
    'zend-expressive-swoole' => [
        'swoole-http-server' => [
            'host' => '127.0.0.1',
            'port' => 8000,
        ],
    ],
    'app_cors' => [
        'Access-Control-Allow-Origin' => 'http://127.0.0.1:3000',
        'Access-Control-Allow-Headers' => 'Content-Type, Authorization',
    ],
];
